<%- include("partials/header") %>

    <h1>Home</h1>
    <p><%= homeStartingContent %></p>

    <div class="post-container">
        <% for (var i=0; i < posts.length; i++) { %>
            <div class="post-container">
                <h3><%= posts[i]["title"] %></h3>
                <p class="limit-chars">
                    <%= posts[i]["content"].substring(0, 100) + " ..." %>
                    <a href="/post/<%= posts[i]["title"] %>">Read More</a>
                </p>
            </div>
            <div>
                <p class="date-today">Created: <%= posts[i]["date"] %></p>
            </div>
        <% } %>
    </div>


<%- include("partials/footer") %>


