<%- include("partials/header") %>

<div class="post-container">
        <div class="post-container">
            <h3><%= titleEvent %></h3>
            <p class="input-post"><%= contentEvent %></p>
        </div>
        <div>
            <p class="date-today">Created: <%= dateEvent %></p>
        </div>
</div>

<%- include("partials/footer") %>
